# React App Environment Variables
REACT_APP_NAME=Aadhaar Card Download
REACT_APP_VERSION=1.0.0
REACT_APP_UIDAI_URL=https://myaadhaar.uidai.gov.in/
REACT_APP_CONTACT_EMAIL=help@example.com
REACT_APP_CONTACT_PHONE=1800-300-1947
